/*** OVERORDNET STYLING ****/

/****** Google fonts
font-family: 'Scope One', serif;
font-family: 'Sanchez', serif;
font-family: 'Montserrat', sans-serif;
**/

@font-face {
    font-family: 'pecitamedium';
    src: url('fonte/pecita-webfont.woff2') format('woff2'),
        url('fonte/pecita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    background-color: #e8e1d7;
}

.name {
    font-family: 'pecitamedium';
    font-size: 2em;
}

h1 {
    font-family: 'Sanchez', serif;
    font-size: 1.5rem;

}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;

}

p {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: black;
}


header {
    position: fixed;
    z-index: 1;
}

img {
    width: 100%;
}

/***** FÆLLES BOX MED LINK *****/


.ahref {
    border: 2px #928688 solid;
    color: black;
    padding: 10px 25px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
}


.ahref:hover {
    background-color: #C1B6B4;
}

/***** FÆLLES MENU *****/
nav {
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
}

a {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

a:hover {
    color: black;
}

/*
:target {
    color: black;
}
*/

/*** BURGER-MENU ****/
.hidden {
    /*    display: none;*/
    transform: translateX(-110%)
}

#burgermenu {
    padding: 1vw;

}

#menuknap {
    font-size: 3rem;

}

#menu {
    list-style-type: none;
    transition: transform 0.7s;
}

#desktopmenu {
    display: none;
}


/************** HERO IMAGE **************/
body,
html {
    height: 100%;
    width: 100%;
}

#hero {
    height: 100%;
    width: 100%;
    position: relative;
}

/* The hero image */
.hero-image {
    background-image: url("img/wolfdeer.png");

    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5vw;
}

.hero-text {
    position: absolute;
    top: 0;
    left: 55vw;
    background-color: rgba(232, 225, 215, 0.85);
    /*    transform: translate(-50%, -50%);*/
}

.phero {
    color: white;
}



/****** CV SECTION *******/

#cv {
    position: relative;
    top: 4vw;
    margin-bottom: 5vw;
}

.line img {
    max-height: 0.1em;
}

#cv li {
    list-style-type: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: 200;

}

#cvfoto {
    width: 30%;
    position: relative;
    left: 35vw;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10vw
}

.column {
    flex-basis: 400px;
    flex-grow: 2;
}

.sectionwrapper img {
    max-width: 80%;
}


/****** PROJEKT SECTION *******/

#projektwrapper {
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex-basis: 200px;
    flex-grow: 4;
    margin-top: 90px;
    padding: 2vw;
    position: relative;
    width: 50%;
}

.projekt {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(232, 225, 215, 0.5);
    padding: 2vw;
    pointer-events: none;

}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    pointer-events: none;
}


/*********** PROJEKT SECTION **************/




.temah1 {
    position: absolute;
    top: 10vw;
    left: 59vw;
}


#indhold {
    margin: 0 1vw;
}

.projektline {
    margin-top: 8vw;
    margin-bottom: 3vw;
}

/*********** GÅ TIL TOP KNAP  **************/


#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #928688;
    color: black;
    cursor: pointer;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    opacity: 0.9;
}

.myBtn {
    display: none;
}

#myBtn:hover {
    background-color: #C1B6B4;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/*********** 01: WEBDESIGN  **************/

.projektwrapper {
    display: flex;
    flex-wrap: wrap;
}

#webdesignwrapper {
    display: flex;
    flex-wrap: wrap;
}

.webcolumn {
    flex-basis: 300px;
    flex-grow: 3;
    padding: 1vw;
}

.projektimg {
    max-width: 70%;
}

.responsimg {
    max-width: 45%;
}

/*********** 02: CONTENT  **************/

.video video {
    max-width: 95%;
}

.concolumn_wide {
    flex-basis: 550px;
    flex-grow: 2;
    padding: 1vw;
}

.concolumn_narrow {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 1vw;
}

.column {
    flex-basis: 300px;
    flex-grow: 3;
    padding: 1vw;
}

.nyopgave {
    margin-top: 10vw;
}


/*********** 03: ANIMATION  **************/




.baby_kf {
    animation-name: baby_kf;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
    /*    animation-fill-mode: both;*/
    animation-timing-function: steps(3);
}

@keyframes baby_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -300% 0%;
    }
}



.sexogsamf_kf {
    animation-name: sexogsamf_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /*    animation-fill-mode: both;*/
    animation-timing-function: steps(4);
}

@keyframes sexogsamf_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -400% 0%;
    }
}

.babysprite {
    background-size: 300% 100%;
    width: 40vw;
    height: 40vw;
    background-image: url(img/nybaby_sprite.svg);
    margin-left: 25vw;
}

.sexogsamfsprite {
    background-size: 400% 100%;
    width: 30vw;
    height: 60vw;
    background-image: url(img/SVG/Artboard%201.svg);
    margin-left: 30vw;
}


/********************* MEDIA QUERIES ************************/

@media only screen and (min-width:600px) {

    /*** DESKTOP MENU ****/


    #desktopmenu {
        display: block;
    }

    #burgermenu {
        display: none;
    }

    nav {
        left: 0;
        right: 0;
        text-align: center;
        margin: 1rem 0;
        position: fixed;
        font-size: 1.5rem;
    }

    nav a {
        padding: 0 1rem;
    }

    /*** få bokse med temaer ned fra toppen ****/

    .container {
        margin-top: 10vw;

    }

    /*** give hover-effekt i desktop ****/

    .overlay {
        opacity: 0;
    }

    /*** Tema-h1 positionering i desktop ****/

    .temah1 {
        top: 6vw;
        left: 2vw;
        position: absolute;
    }

    /*** størrelse på spriteanimationer i desktop ****/

    .babysprite {
        background-size: 300% 100%;
        width: 10rem;
        height: 10rem;
        background-image: url(img/nybaby_sprite.svg);
        margin-left: 8vw;
    }

    .sexogsamfsprite {
        background-size: 400% 100%;
        width: 10rem;
        height: 20rem;
        background-image: url(img/SVG/Artboard%201.svg);
        margin-left: 8vw;
    }

}


@media only screen and (min-width:820px) {
    .hero-text {
        position: absolute;
        left: 60vw;
        top: 5vw;
        background-color: transparent;
    }
}
